/* Global */
/* ------------------------------------ */
/* Fonts */
/* ------------------------------------ */
/* Colors */
/* ------------------------------------ */
/* Breakpoints */
/* ------------------------------------ */
@font-face {
  font-family: "Nunito";
  src: url("../../fonts/Nunito-Bold.woff2") format("woff2"), url("../../fonts/Nunito-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../fonts/Nunito-ExtraBold.woff2") format("woff2"), url("../../fonts/Nunito-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../fonts/Nunito-Medium.woff2") format("woff2"), url("../../fonts/Nunito-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../fonts/Nunito-Regular.woff2") format("woff2"), url("../../fonts/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../fonts/Nunito-SemiBold.woff2") format("woff2"), url("../../fonts/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFBF9B;
}

main {
  flex-grow: 1;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

a {
  text-decoration: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 67px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.wrapper {
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 1380px;
  margin: 0 auto;
}

/* Blocks */
/* ------------------------------------ */
.btn {
  font-family: "Nunito", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid #FE5F00;
  background-color: transparent;
  border-radius: 15px;
  color: #FE5F00;
  cursor: pointer;
}

.header {
  padding: 45px 0 41px;
  border-bottom: 1px solid #EDEDED;
}
.header__inner {
  display: flex;
  align-items: center;
}
.header__form {
  margin: 0 66px 0 40px;
}
.header__btns {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header__btn:hover {
  background-color: #FE5F00;
  color: #FFFFFF;
}
.header__btn:first-child {
  padding: 13px;
  width: 110px;
}
.header__btn:last-child {
  padding: 16px;
  width: 50px;
}

.custom-search {
  position: relative;
}
.custom-search__field {
  border: none;
  padding: 14px 20px 14px 48px;
  background-color: #F9F9F9;
  width: 764px;
  font-family: "Nunito", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.custom-search__icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ADADAD;
}

.drop-down {
  position: relative;
  display: inline-block;
}
.drop-down:hover .drop-down__wrapper {
  display: block;
}
.drop-down__wrapper {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #FAFAFA;
  border-radius: 15px;
}
.drop-down__btn {
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  background-color: transparent;
  font-family: "Nunito", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #202020;
  padding: 10px 16px;
}

.product {
  padding: 40px 0 0;
}
.product__title {
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
}
.product__type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__type-wrapper {
  display: flex;
  align-items: center;
  background-color: #FAFAFA;
  padding: 6px 30px 7px 5px;
  border-radius: 15px;
  gap: 7px;
  width: 775px;
}
.product__rate-btn {
  border: none;
  background-color: #FAFAFA;
  border-radius: 15px;
  padding: 16px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.product__rate-icon {
  color: #000000;
}
.product__rate-text {
  color: #202020;
  font-family: "Nunito", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.product__rate-decor {
  color: #FE5F00;
}
.product__wrapper {
  margin: 36px 0 0;
  display: flex;
  gap: 45px;
}
.product__list {
  list-style-type: none;
  padding: 0;
  margin: 30px 0 70px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.product__list-item {
  width: 285px;
}

.custom-radio {
  padding: 10px 0;
}
.custom-radio__field:checked ~ .custom-radio__label {
  color: #FE5F00;
  background-color: #FFFFFF;
  border-radius: 15px;
}
.custom-radio__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #202020;
  cursor: pointer;
  padding: 10px 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.custom-radio--filter {
  padding: 0;
}

.custom-radio--filter .custom-radio__field:checked ~ .custom-radio__label {
  color: #000000;
}
.custom-radio--filter .custom-radio__field:checked ~ .custom-radio__label::before {
  background-color: #FE5F00;
}
.custom-radio--filter .custom-radio__field:checked ~ .custom-radio__label::after {
  display: block;
}

.custom-radio--filter .custom-radio__label {
  padding: 0;
  color: #000000;
  font-weight: 400;
  position: relative;
  padding: 0 0 0 36px;
}
.custom-radio--filter .custom-radio__label::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #F1F1F1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.custom-radio--filter .custom-radio__label::after {
  display: none;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.filter-form {
  width: 244px;
}
.filter-form__title {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}
.filter-form__group {
  border: none;
  margin: 0;
  padding: 0;
}
.filter-form__group:first-child {
  margin: 0 0 50px;
}
.filter-form__group:nth-child(2) {
  margin: 0 0 60px;
}
.filter-form__group:nth-child(3) {
  margin: 0 0 40px;
}
.filter-form__group:nth-child(4) {
  margin: 0 0 35px;
}
.filter-form__group-name {
  margin: 0 0 15px;
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.filter-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.filter-form__wrapper--price {
  flex-direction: row;
}
.filter-form__btn {
  width: 125px;
  border: none;
  background-color: transparent;
  font-family: "Nunito", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #FE5F00;
  cursor: pointer;
}
.filter-form__apply {
  padding: 14px;
  background-color: #FE5F00;
  color: #FFFFFF;
  width: 244px;
  font-weight: 700;
}

.custom-checkbox__field:checked ~ .custom-checkbox__label::before {
  background-color: #FE5F00;
}
.custom-checkbox__field:checked ~ .custom-checkbox__label::after {
  display: block;
}
.custom-checkbox__label {
  color: #000000;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  padding: 0 0 0 36px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.custom-checkbox__label::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  background-color: #F1F1F1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.custom-checkbox__label::after {
  display: none;
  content: "";
  position: absolute;
  width: 11px;
  height: 9px;
  background-image: url("../images/icons/check.svg");
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.custom-input {
  max-width: 90px;
  position: relative;
}
.custom-input__field {
  width: 100%;
  border: 1px solid #F1F1F1;
  border-radius: 10px;
  padding: 10px 40px 10px 15px;
}
.custom-input__icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.cart-product__img {
  width: 285px;
  height: 260px;
  border-radius: 15px;
  margin: 0 0 15px;
}
.cart-product__title {
  margin: 0 0 7px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}
.cart-product__text {
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 13px;
  color: #B1B1B1;
}
.cart-product__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-product__price {
  font-size: 20px;
  line-height: 27px;
}
.cart-product__num {
  font-weight: 700;
}
.cart-product__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.cart-product__btn:hover {
  background-color: #FE5F00;
  color: #FFFFFF;
}
.cart-product__btn--add {
  border: none;
  padding: 11px;
  background-color: #FFFAF4;
  width: 125px;
  font-size: 15px;
  line-height: 20px;
}
.cart-product__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.cart-product__btn--minus {
  padding: 15px;
  width: 42px;
  height: 42px;
}
.cart-product__btn--plus {
  padding: 15px;
  width: 42px;
  height: 42px;
}
.cart-product__quantity {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.pagination__list {
  list-style-type: none;
  margin: 0 0 0 289px;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.pagination__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 45px;
  height: 45px;
  border: 1px solid #EDEDED;
  color: #888888;
}
.pagination__btn:hover:not(:disabled, .pagination__btn--active) {
  border-color: #FE5F00;
  color: #FE5F00;
}
.pagination__btn:disabled {
  color: #EDEDED;
  cursor: auto;
}
.pagination__btn--prev .pagination__btn-icon {
  transform: rotate(90deg);
}
.pagination__btn--next .pagination__btn-icon {
  transform: rotate(-90deg);
}
.pagination__btn--active {
  border-color: #FE5F00;
  background-color: #FE5F00;
  color: #FFFFFF;
}

.not-found__inner {
  display: flex;
  align-items: center;
  gap: 66px;
  max-width: 877px;
  margin: 202px auto 285px;
}
.not-found__descr {
  width: 465px;
}
.not-found__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: -0.03em;
  margin: 0 0 10px;
  color: #000000;
}
.not-found__text {
  font-size: 20px;
  line-height: 28px;
  color: #999999;
  margin: 0 0 45px;
}
.not-found__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.not-found__btn {
  padding: 13px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-color: #C0C0C0;
  color: #C0C0C0;
}
.not-found__btn:first-child {
  width: 158px;
  border-color: #FE5F00;
  color: #FE5F00;
}
.not-found__img {
  width: 340px;
  height: 346px;
}
.not-found__img--denied {
  width: 320px;
  height: 379px;
}/*# sourceMappingURL=style.css.map */