/* Fonts */
/* ------------------------------------ */
$ff-main: "Nunito", "Arial", sans-serif;

/* Colors */
/* ------------------------------------ */
$romantic: #FFBF9B;
$safety-orange: #FE5F00;
$snow: #F9F9F9;
$dark-grey: #ADADAD;
$silver: #C0C0C0;
$black: #000000;
$whisper: #EDEDED;
$white: #FFFFFF;
$nero: #202020;
$dark-gray2: #B1B1B1;
$white-smoke: #F1F1F1;
$grey: #888888;
$seashell: #FFF7EE;
$snow2: #FAFAFA;
$floral-white: #FFFAF4;
$nobel: #999999;

/* Breakpoints */
/* ------------------------------------ */
$vp-tablet: 1439px;
$vp-mobile: 767px;