/* Fonts */
/* ------------------------------------ */
$ff-main: "Nunito", "Arial", sans-serif;

/* Colors */
/* ------------------------------------ */
$romantic: #FFBF9B;
$snow: #F9F9F9;
$dark-grey: #ADADAD;
$safety-orange: #FE5F00;
$black: #000000;
$white: #FFFFFF;
$nero: #202020;
$grey: #888888;
$silver: #BBBBBB;

/* Breakpoints */
/* ------------------------------------ */
$vp-tablet: 1439px;
$vp-mobile: 767px;