.btn {
  font-family: $ff-main;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid $safety-orange;
  background-color: transparent;
  border-radius: 15px;
  color: $safety-orange;
  cursor: pointer;
}