.custom-radio {
  padding: 10px 0;

  &__field:checked ~ .custom-radio__label {
    color: $safety-orange;
    background-color: $white;
    border-radius: 15px;
  }

  &__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $nero;
    cursor: pointer;
    padding: 10px 16px;
    user-select: none;
  }
}

.custom-radio--filter {
  padding: 0;
}

.custom-radio--filter .custom-radio__field:checked ~ .custom-radio__label {
  color: $black;

  &::before {
    background-color: $safety-orange;
  }

  &::after {
    display: block;
  }
}

.custom-radio--filter  .custom-radio__label {
  padding: 0;
  color: $black;
  font-weight: 400;
  position: relative;
  padding: 0 0 0 36px;

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $white-smoke;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: $white;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }
}