.custom-radio {
  &__field {
    &:checked ~ .custom-radio__label:not(.custom-radio__label--filter) {
      background-color: $white;
      color: $safety-orange;
      border-radius: 15px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    }

    &:checked ~ .custom-radio__label--filter::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      left: 7px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $white;
      border-radius: 50%;
    }
  }

  &__label {
    padding: 10px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    user-select: none;
    transition: color .3s;
    cursor: pointer;

    &:hover:not(.custom-radio__label--filter) {
      color: $safety-orange;
    }

    &--filter {
      padding: 0;
      font-weight: 400;
      background-color: transparent;
      transition: none;
      position: relative;
      padding-left: 36px;

      &::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: $safety-orange;
        border-radius: 50%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}