.custom-search {
  position: relative;

  &__field {
    border: none;
    padding: 14px 20px 14px 48px;
    background-color: $snow;
    width: 764px;
    font-family: $ff-main;
    font-size: 16px;
    line-height: 22px;
    color: $black;
  }

  &__icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: $dark-grey;
  }
}