.custom-input {
  max-width: 90px;
  position: relative;

  &__field {
    width: 100%;
    border: 1px solid $white-smoke;
    border-radius: 10px;
    padding: 10px 40px 10px 15px;
  }

  &__icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}