.custom-input {
  width: 100%;
  position: relative;

  &__field {
    width: 90px;
    border: none;
    padding: 10px 30px 10px 15px;
    border-radius: 10px;
  }

  &__icon {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
  }
}
