.custom-checkbox {
  &__field {
    &:checked~.custom-checkbox__label::before {
      background-color: $safety-orange;
    }

    &:checked~.custom-checkbox__label::after {
      display: block;
    }
  }

  &__label {
    color: $black;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    padding: 0 0 0 36px;
    user-select: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 8px;
      background-color: $white-smoke;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      display: none;
      content: "";
      position: absolute;
      width: 11px;
      height: 9px;
      background-image: url("../images/icons/check.svg");
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}