.not-found {
  &__inner {
    display: flex;
    align-items: center;
    gap: 66px;
    max-width: 877px;
    margin: 202px auto 285px;
  }

  &__descr {
    width: 465px;
  }

  &__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -0.03em;
    margin: 0 0 10px;
    color: $black;
  }

  &__text {
    font-size: 20px;
    line-height: 28px;
    color: $nobel;
    margin: 0 0 45px;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__btn {
    padding: 13px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-color: $silver;
    color: $silver;

    &:first-child {
      width: 158px;
      border-color: $safety-orange;
      color: $safety-orange;
    }
  }

  &__img {
    width: 340px;
    height: 346px;

    &--denied {
      width: 320px;
      height: 379px;
    }
  }
}