.pagination {
  &__list {
    list-style-type: none;
    margin: 0 0 0 289px;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 45px;
    height: 45px;
    border: 1px solid $whisper;
    color: $grey;

    &:hover:not(:disabled, .pagination__btn--active) {
      border-color: $safety-orange;
      color: $safety-orange;
    }

    &:disabled {
      color: $whisper;
      cursor: auto;
    }
  }

  &__btn--prev .pagination__btn-icon {
    transform: rotate(90deg)
  }

  &__btn--next .pagination__btn-icon {
    transform: rotate(-90deg)
  }

  &__btn--active {
    border-color: $safety-orange;
    background-color: $safety-orange;
    color: $white;
  }
}