.pagination {
  padding: 0 0 60px;
  &__inner {
    margin-left: 311px;
  }

  &__btn {
    background-color: transparent;
    border: 1px solid $silver;
    border-radius: 15px;
    padding: 16px;
    width: 45px;
    height: 45px;
    color: $grey;
    cursor: pointer;

    &:hover {
      border-color: $safety-orange;
    }

    &--active {
      background-color: $safety-orange;
      color: $white;
    }

    &--prev {
      color: $safety-orange;
      .pagination__btn-icon {
        transform: rotate(90deg);
      }
    }

    &--next {
      color: $silver;
      .pagination__btn-icon {
        transform: rotate(270deg);
      }
      
      &:hover {
        color: $safety-orange;
      }
    }

    &:disabled {
      border-color: $snow;
      color: $snow;
    }
  }
}
