.product {
  padding: 40px 0 0;

  &__title {
    margin: 0 0 20px;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
  }

  &__type {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__type-wrapper {
    display: flex;
    align-items: center;
    background-color: $snow2;
    padding: 6px 30px 7px 5px;
    border-radius: 15px;
    gap: 7px;
    width: 775px;
  }

  &__rate-btn {
    border: none;
    background-color: $snow2;
    border-radius: 15px;
    padding: 16px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__rate-icon {
    color: $black;
  }

  &__rate-text {
    color: $nero;
    font-family: $ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  &__rate-decor {
    color: $safety-orange;
  }

  &__wrapper {
    margin: 36px 0 0;
    display: flex;
    gap: 45px;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 30px 0 70px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
  }

  &__list-item {
    width: 285px;
  }
}