.product {
  padding: 40px 0 70px;

  &__title {
    margin: 0 0 20px 0;
    font-weight: 800;
    font-size: 36px;
    line-height: 39px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 36px 0;
  }

  &__form-top {
    padding: 6px;
    background-color: $snow;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 15px;
    height: 55px;
  }

  &__inner {
    display: flex;
    gap: 48px;
  }

  &__form-filter {
    width: 244px;
  }

  &__form-title {
    margin: 0 0 30px 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
  }

  &__form-group {
    padding: 0;
    border: none;
    margin: 0;

    &--pizza {
      margin-bottom: 51px;
    }

    &--price {
      margin-bottom: 62px;
    }

    &--ingredients {
      margin-bottom: 42px;
    }

    &--thin {
      margin-bottom: 34px;
    }
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &--price {
      flex-direction: row;
    }
  }

  &__form-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 15px 0;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
}